.hidden {
    display: none;
}

.timer {
    display: none;
}

.active {
    display: block;
}

.message {
    color: red;

    &-error {
        color: red;
        display: none;
    }
}

.number-enter {
    max-width: 40px;
}